.faq {
    text-align: center;
    position: relative;

    img {
        position: relative;
        top: 5.625rem;
    }

    &-content{
        background-color: white;
        margin: auto;
        width: 330px;
        height: 535px;
        padding-right: 25px;
        padding-left: 25px;
        box-sizing: border-box;
        border-radius: 24px;
        color: $veryDarkBlue;

        img {
            position: relative;
            top: 0;
        }

        h1 {
            font-weight: bold;
            margin-top: 40px;
        }
        .text {
            font-size: 13px;
            cursor: pointer;

            &:hover {
                .title {
                    color: $softRed;
                }
            }

            &.open {
                .title {
                    .arrow-icon {
                        transform: rotate(180deg);
                    }

                    font-weight: 700;
                }

                .desc {
                    height: 100%;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: 0.2s ease-in-out;

                p {
                    display: inline;
                }
                    
            }

            .desc { 
                position: relative;
                text-align: left;
                line-height: 1.5;
                color: $darkGrayisBlue;
                height: 0;
                top: -20px;
                opacity: 0;
                visibility: hidden;
                transition: 0.2s ease-in-out;
            }
        
        }

        
    }
}