html {
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, $softViolet, $softBlue);
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

a,a:active,a:hover {
    width: fit-content;
    text-decoration: none;
    color: $veryDarkBlue;
}

hr {
    opacity: 0.5;
    // margin-top: -5px;
}