// Primary Color
//  Text Color
$veryDarkBlue : hsl(238, 29%, 16%);
$softRed : hsl(14, 88%, 65%);

// Background Color
$softViolet : hsl(273, 75%, 66%);
$softBlue : hsl(240, 73%, 65%);

// Neutral Color
// Text
$veryDarkGrayishBlue : hsl(237, 12%, 33%);
$darkGrayisBlue : hsl(240, 6%, 50%);
$lightGrayishBlue : hsl(240, 5%, 91%);
